*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Pattaya&display=swap');
html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
  }

header{
    background-image: url(../img/home-1-slider.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
}
.header_left{
    font-size: 35px;
    float: left;
}

.header_left a{
    color: white;
    text-decoration: none;
    margin: 15px;
}

.header_right{
    float: right;
    padding-top: 15px;
}
.header_right ul li{
    display: inline-block;

}
.header_right a{
    color:white;
    text-decoration: none;
    padding-left: 30px;
   transition: 0.5s;
}

.header_right a:hover{
    color:red;
}
.header_center{
    color: white;
    text-align: center;
    padding-top: 200px;
}

.btn{
    color: white;
    border: 1px solid white;
    background: none;
    margin: 20px;
    padding: 5px;
    block-size: 60px;
    width: 300px;
    font-size:10px;
    cursor: pointer;
    transition: 0.8s;
}
.btn:hover{
    background-color: white;
    color:black;
}

.login-container{
    text-align: center;
    padding-top: 150px;
    color: white;
}

.carousel{
    background-color: #EAE7DE;
    height: 800px;
    display:flex;
    max-width: 100%;
}
.carousel__content{
    text-align: center;
    padding-top: 50px;
}
.carousel__title{
    text-align: center;
}
.carousel__title h1{
    font-size: 30px;
}
.carousel__title hr{
    border: 1px solid brown;
    width: 30%;
    margin: 0 auto;
}


.carousel__item{
    display: inline-block;
    padding-top: 50px;
    width: 33%;

}
.carousel__img img{
    width: 80%;
}
.carousel__text{
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
}
.carousel__text button{
    color:#d49c63;
    background-color:#EAE7DE ;
    cursor: pointer;
    font-weight: 1000;
    transition: 0.3s;

    border: 0;

}
.carousel__text button:hover{
    color:red;
}

.application{
    background-image: url(../img/home1-parallax-1.jpg) ;
    height: 750px;
    background-position: 50% 43px;
    background-size: cover;
    box-shadow: #d49c63;
    border-radius: 0 0 50px 50px;
}
.application__content{
    display: flex;
    width: 100%;
}

.application__left{
    width: 50%;
    padding: 17% 13%;

}

.application__right{
    
    width:50%;
    padding: 15% 40px;
    color: white;
    
}

.application__right hr{
    border: 0.5px solid white;
    width: 30%;
}
.application__right button{
    color:#EAE7DE;
    background-color: #d49c63;
    cursor: pointer;
    font-weight: 1000;
    transition: 0.3s;
    padding: 20px;
    border: 0;
    width: 30%;
}
.application__right button:hover{
    color:black;
    background-color: white;
}

.activities{
    display:flex;
    max-width: 100%;
    
}
.activities__content{
    display: inline-flex;
    padding-top: 120px !important;
    font-size: 15px;
}
.activities__item{
    text-align: center;
    padding: 10px;
}

.contact{
    display: flex;
    background-color: black;
    height: 500px;
    color: white;
    margin-top: 100px;
    font-size: 15px;
}
.opening-hours{
    width: 25%;
}
.opening-hours p{
    padding-top: 10px;
    
}
.latest-posts{
    width: 25%;
}
.contact-us{
    width: 25%;
}
.other-location{
    width: 25%;
}